extends layout

block prepend title
  | #{ page.title } &mdash; 

block content
  include mixins
  article.post
    h1.title
      a(href=page.url)= page.title
    div.post-meta
      mixin date(page.date)
    div.the-content
      section.content!= page.html
    div.meta.clearfix
      mixin tags(page.metadata.tags)      

